* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    height: 100vh;
    background: linear-gradient(to right, #734d9c, #143368);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .login-container {
    background: linear-gradient(to right,#b52794, #8e808b);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
    text-align: center;
    
  }
  
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #3664ba;
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }
  
  .login-container h2 {
    margin-bottom: 1.5rem;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border 0.3s;
  }
  
  .login-container input:focus {
    border-color: #2575fc;
    outline: none;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin: 0.5rem 0 1rem;
  }
  
  .options a {
    color: #2575fc;
    text-decoration: none;
  }
  
  .options a:hover {
    text-decoration: underline;
  }
  
  .login-container button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    background-color: #2575fc;
    color: rgb(178, 217, 224);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-container button:hover {
    background-color: #030c1c;
  }
  
  
  @media (max-width: 400px) {
    .login-container {
      padding: 1.5rem;
    }
  
    .options {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
  
  
